html, body, dl, dt, dd, h1, h2, h3, h4, p, input, select {
	margin: 0;
	padding: 0
}
input, label, select {
	vertical-align: middle
}
body {
	font-size:14px;
	font-family: 微软雅黑;
	padding:5px 10px 10px;
	width: 255px
}
h1 {
	padding: 5px 0;
}
.sform {
	padding: 5px 0
}
.sform input[type=text] {
	padding: 0 3px;
	height: 22px;
	line-height:22px;
	border: 1px solid #999;
	width: 150px
}
.sform input[type=button] {
	background: url(op_email_btn.gif) no-repeat -100px 0;
	border:none;
	cursor:pointer;
	color: black;
	margin-left: 8px;
	font-size: 13px;
	height: 24px;
	line-height:24px;
	width: 81px;
	text-align: center;
}
.sform input[type=button]:hover {
	background-position: 0 0
}
dl {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px dotted #ccc
}
dt {
	font-weight:bold
}
dd {
	padding:5px 0 5px 10px;
}
dd input[type=checkbox] {
	margin-right:3px
}
dd select {
	margin-right:5px
}
#dict-wraper {
	padding:5px
}
#dict-content-main h3 {
	padding:10px 0
}
.item-content h4 {
	padding:5px 0
}
